*{
 background-color: hsla(0, 97%, 30%, 0.725);
}
.img {
    cursor: pointer;
    display: grid;
    
}

    

.ab{
    height: 100px;
    width: 80px;
    margin: 2px;
}

.back {
    color: white;
    margin: 20px;
    padding: 20px;

}

.size {
    display:inline-flex;
    margin: 2px;
    padding: 2px;
    width: 100%;
}

.box {
    border: 1px solid gray;
    height: 40px;
    width: 90px;
    text-align: center;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}
.price {
    text-decoration: line-through;
}

 
   .product-colors {
    display: inline-flex;
    }
    .colors .color {
    text-align: center;
    border: 1px solid #cd6155;
    margin-right: 1rem;
    width: 9rem;
    padding: 0.5rem 0 0.25rem 0;
    cursor: pointer;
    }
    .colors .color:hover {
    background-color: #a52a2a;
    }
    .colors .color span {
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 50%;
    }
    .colors .color label {
    margin-top: 0.5rem;
    display: block;
    font-size: 0.8rem;
    }
.white {
    background-color: #ffffff;
}
.red {
    background-color: #ff0000;
}
.green {
      background-color: #00ff00;
}
.blue {
    background-color: #0000ff;
}
    
.text {
    font-size: 25px;
}

.carousel {
   
    width: 100%;
    height: 500px;
}