*{
 background-color: hsla(0, 97%, 30%, 0.725);
}


.back {
    color: white;
    margin: 20px;
    padding: 20px;

}

.size {
    display:inline-flex;
    margin: 2px;
    padding: 2px;
}

.box {
    border: 1px solid gray;
    height: 40px;
    width: 90px;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

.colour {
    border: 1px solid gray;
    border-radius: 100%;
    background-color: red;

}

    

